<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cs205g1t2"
        tools:targetApi="31">

        <!-- MainActivity (Menu) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- GameActivity (Game) -->
        <activity
            android:name=".GameActivity"
            android:screenOrientation="landscape"
            android:exported="false">
            <!-- No intent-filter here; it's launched from MainActivity -->
        </activity>

        <service android:name=".MusicService"
            android:exported="false"/>

    </application>

</manifest>
